<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" aria-current="page"
    routerLinkActive="active"
    routerLink="/"
    [routerLinkActiveOptions]="{exact:true}">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
    routerLinkActive="active"
    routerLink="/about"
    [queryParams]="{value: '1',value2: '2'}"
    fragment="loading"
    >About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="/contact">Contact</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="/user">User</a>
  </li>
</ul>

<router-outlet></router-outlet>
